.app{
    display: flex;
}

.navegation{
    background-color: var(--textColor);
    width: 20rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--whiteColor);
}
.navegation__logo{
    margin-top: 5rem;
}

.navegation__logo img{
    width: 4rem;
}
.newProject{
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}
.newProject a{
    display: flex;
    align-items: center;
}
.separator{

    width: 90%;
    height: .5rem;
    background-color: var(--headingColor);
    margin: 0 auto;
    margin-top: 3rem;
}
.main{
    width: 100vw;
}

.projects{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}
.main__logo{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    
}

.main__content{
    width: 80%;
    margin: 0 auto;
}
.logout{
    color: var(--importantColor);
}
.logout img{
  width: 3rem;
}
.project__style{
    margin-top: 3rem;
}
.project__style li a{
    color: var(--whiteColor);
}

.project__style li{
  transition: .1s ease;
}
.project__style li:hover{
  background-color: var(--headingColor);
}