doctype html
html(lang="en")
    head
       include components/head
    body 
        section.app 
            section.navegation
                div.navegation__logo 
                    a(href="/" id="home")
                        img(src="/img/Home.svg", alt="")

                div.btn.btn-action.newProject
                    
                    a(href="/newProject").btn-icon
                        p New Project
                        img(src="/img/Add.svg", alt="")
                div.separator

                div.projects 
                    p - Projects -
                    if(projects)
                        ul.project__style 
                            each project in projects
                                li
                                    a(href=`/projectView/${project.url}`)=project.name 
                                    





            section.main
                div.main__logo
                    div
                    img(src="/img/Logo.svg", alt="")

                    a(href="/logout").logout Logout 
                        img(src="/img/LogOut-dark.svg", alt="") 
                       
                div.main__content
                    block content

            script(src="/dist/bundle.js") 
        