doctype html
html(lang="en")
    head
        include components/head
    body
        div.access
            form(action="" method = "POST")
                fieldset.formCard 
                    div.formCard__img
                        img(src="/img/Logo.svg", alt="")
                    p.titleForm Log In
                    if inputs 
                        each input in inputs 
                            div.input
                                input(type=`${input.type}` placeholder = `${input.placeHolder}`)
                                label=input.label

                        div.input-submit 
                            input(type="submit" value= "Log In").btn.btn-action  
                        div.formCard__options 
                            a(href="")
                                img(src="/img/LeftArrow.svg", alt="")
                                p Create Account 
                            a(href="")
                                p Reset Password 
                                img(src="/img/RightArrow.svg", alt="")