extends home

block content 
    div.content__title
        h2=action
            if(action==="Editing Project")
                
                span.projectName  - #{project.name}

    if errors 
        div.errors
            each error in errors 
                p.error #{error}

    div.project__card
        form(action="", method="POST")
            fieldset.card__layout 
                
                if project
                    div.card__input
                        input(type="text" id = "nameProject" placeholder= "Project Name" name = "name" value = `${project.name}`)
                        label(for="nameProject") Project Name
                    div.card__submit
                        input(type="submit" value="Save").btn.btn-action 
                else
                    div.card__input
                        input(type="text" id = "nameProject" placeholder= "Project Name" name = "name")
                        label(for="nameProject") Project Name
                    div.card__submit
                        input(type="submit" value="Add").btn.btn-action 


